img {
    border: 5px solid black;
    position: absolute;
    width: 247px;
    height: 288px;

}
h1 {
    border-bottom: 3px solid black;
    text-align: center ;
    width: 510px;
    height: 36px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}
h2 {


    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    padding-left: 280px;
}
h2{
    border-bottom: 1px solid black;
    margin-right: 550px;
    font-family: revert;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    padding-: 280px;
}
h3{
    position: relative;
    width: 564px;
    height: 46px;
    padding-top: 50px;
}